body {
    font-family: 'Montserrat';
}

#container {

    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
   
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: minmax(189px, auto);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    padding: 10px 5px;

}

.avatar {
    background-image: url("avatar.png");
    background-size: 189px 189px;
    grid-row: 1 / 2;
    border-radius: 50%;
}

.name{
    background-color: brown;
    padding-left: 15px;
    padding-top: 15px;
    grid-row: 1 / 2;
}

h1, h3, h4, p {
    padding: 1px;
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    color: brown; font-weight: bold;
}

ul {
    list-style-type: circle;
}

li {
    margin-bottom: 2px;
}

hr.na {
    border-top: 1px solid white;
    width: 200px;
    position: absolute;
}

.experience {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background: white;
    padding-left: 15px;
    padding-top: 15px;
}

.education {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background: white;
    padding-left: 15px;
    padding-top: 15px;
}

.award {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: white;
    padding-left: 15px;
    padding-top: 15px;
}

.contact {
    grid-column: 1 / 2;
}

.skill {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.skill p {
    color: white;
}

.language {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

p.sk {
    border: 1px solid brown;
    background-color: brown;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 13px;
    padding: 4px 0 4px 6px;
}

.fa-dot-circle-o, .fa-circle-o {
    color: brown;
    font-size:30px;
    margin-left:3px;
    margin-bottom:2px;
}

