body {
    font-family: 'Montserrat';

}

#container {

    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    box-shadow: 0 5px 10px #74a1ba;
    z-index: 2;
}

.background-img {
    position: absolute;
    left: 42%;
    top: 50%;
    width: 20%;
    height: auto;
    opacity: 0.1;
    z-index: -1;
}

section {

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: minmax(189px, auto);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    padding: 10px 5px;

}

.avatar {
    background-image: url("avatar.png");
    background-size: 189px 189px;
    grid-row: 1 / 2;
    border: 2px solid red;
}


.name {
    background-color: #74a1ba;
    padding-left: 15px;
    padding-top: 15px;
    grid-row: 1 / 2;
    border: 2px solid red;
}


h1, h3, h4, p {
    padding: 1px;
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    color: #74a1ba;
    font-weight: bold;
}

ul {
    list-style-type: circle;
}

li {
    margin-bottom: 2px;
}

hr.na {
    border-top: 1px solid white;
    width: 200px;
    position: absolute;
}

.experience {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    padding-left: 15px;
    padding-top: 15px;
    border: 2px solid red;
}

.education {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-left: 15px;
    padding-top: 15px;
    border: 2px solid red;
}

.award {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    padding-left: 15px;
    padding-top: 15px;
    border: 2px solid red;
}

.contact {
    grid-column: 1 / 2;
    border: 2px solid red;
}

.skill {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border: 2px solid red;
}


.language {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid red;
}

.sk {
    border: 1px solid #74a1ba;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 13px;
    padding: 4px 0 4px 6px;
}


.fa-dot-circle-o, .fa-circle-o {
    color: #74a1ba;
    font-size: 30px;
    margin-left: 3px;
    margin-bottom: 2px;
}


.contact p {
    display: inline-block;
}

.sub_contact {
    vertical-align: center;
    margin-bottom: 10px;
}


.experience h4 {
    padding-top: 4px;
}

@media only screen and (max-width: 768px) {
    section {
        display: block;
        margin: -20px auto;
    }

    .avatar, .name, .education, .award, .experience, .skill, .language {
        margin-bottom: 10px;
        padding-left: 0;
    }

    .contact {
        margin-bottom: 10px;
    }
    .avatar {
        width: 266px;
        height: 266px;
        background-size: cover;
        margin-top: -40px;
    }

    p, h1, h2, h3, h4, li {
        font-size: 80%;
    }

    #container {
        box-shadow: 0 0 0 white;
    }


}

@media only screen and (min-width: 361px) and (max-width: 640px) {
    p, h1, h2, h3, h4, li {
        font-size: 80%;
    }

    #container {
        box-shadow: 0 0 0 white;
    }

    section:first-child {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-bottom: -90px;
    }

    .avatar {
        grid-column: 1 / 2;
        width: 100%;
        height: 68%;
        margin-right: 10px;
    }

    .name {
        grid-column: 2 / 3;
        height: 69%;
        margin-top: -40px;
        padding-top: 0;
    }

    section {
        display: block;
        margin: -20px auto;
    }

    .education, .award, .experience, .skill, .language, .contact {
        margin-bottom: 10px;
        padding-left: 0;
    }


}